.speech{
    font-family:"Times New Roman", Times, serif;
    font-size: 26;
    color:black
}

.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 28;
    color: black;
    background-color: aqua;
}

.direction:hover{
    color: blue;
    background-color: burlywood;
}

.LUKE{
    color: chartreuse;
}

.REVENUE{
    color: deeppink;
}

table,
th,
td {
    border: 1.5px solid;
    text-align: center;
    border-radius: 1.5px;
    width: 15%;

}

table {
    padding: 7px;
    margin: 25px;
    width: 55%;
}

th {
    color: darkgreen;
    font-weight: bolder;
    height: 80px;
    text-align: center;
    background-color:gold;
    border: 1.5px solid;

}

td {
    color: fuchsia;
    border: 1.5px solid;
    height: 40px;
    text-align: center;
    background-color: chartreuse;
    font-weight: bolder;

}

tr:nth-child(even) {
    background-color: aliceblue;
}

.LUKE:hover {
    background-color: beige;
    color: darkred;
    text-shadow: 5px 3px 5px blue;
    border: darkkhaki;
}

.REVENUE:hover {
    background-color: azure;    
    color: fuchsia;
    text-shadow: 4px 3px 4px green;
    border: darkorange;
}

ul.navbar-horizontal {
    display:flex;
    padding: 90%;
    color: chocolate;
}

ul.navbar-horizontal {
    /* remove these */
    list-style-type:none;
    margin: 20px;;
    padding: 15px;
}

ul.navbar-horizontal li {
    float:inline;
    /* line up horizontally */
    color: brown;
    background-color: antiquewhite;
}

ul.navbar-horizontal a {
    display:inline;
    padding: 10px;
}

/* on hover change the link color*/
ul.navbar-horizontal a:hover {
    background-color: bisque;
    color: blue;
}

.image{
    width: 30%;
}
